<form action="change" method="post">
<input type="number" class="txtbox" name="cents"><br>
<button type="submit" class="btn">Get Change</button>
</form>
<br>
<div id="coin_result">
    <% if defined? coins %>
        <%= coins %>
    <% end %>
</div>