<form action="change" method="post">
<input type="number" class="txtbox" name="cents"><br>
<button type="submit" class="btn" onclick="window.alert(getDateString());">Get Change</button>
</form>
<br>
<div id="coin_result" onmouseenter="changeResults('color:red');" onmouseleave="changeResults('color:white');">
    <% if defined? coins %>
        <script type="text/javascript">
            document.write(getDateString());
        </script><br><br>
        <%= coins %>
    <% end %>
</div>